* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*------VARIABLES-------*/
/*-----COLOURS -----*/
/*-----TYPOGRAPHY -----*/
/*-----SPACING -------*/
body {
  font-family: "Lato", sans-serif;
  font-size: 20px; }

#main {
  margin: auto; }

h1, h2 {
  font-family: "Roboto Slab", serif; }

h1 {
  font-size: 7rem;
  text-transform: uppercase; }

h2 {
  font-size: 5rem; }

h3, h4, h5, p {
  font-family: "Lato", sans-serif; }

/*--- COMMON CLASSES USED ----*/
.uppercase, .partyContainer__item .partyContainer__img--overlay h2 {
  text-transform: uppercase; }

.container--centered, .partyContainer__item .partyContainer__img--overlay, .partyInfo__member {
  display: flex;
  align-items: center;
  justify-content: center; }

.white, .pageHeader {
  color: white; }

.italic, .member__title {
  font-style: italic; }

/*-------------NAV BAR -------*/
/*SIDE NAV */
/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: black;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;
  transition: 0.3s; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  z-index: 2; }

.menu-btn {
  position: absolute;
  top: 20px;
  right: 9%;
  width: 80px;
  height: 80px;
  z-index: 200;
  color: white;
  font-size: 1.5rem;
  transition: all 0.5s; }
  .menu-btn:hover {
    cursor: pointer; }

#main {
  transition: margin-right .5s; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
.hidden-content {
  display: none; }

#mySidenav a {
  width: 100%;
  display: block;
  font-size: 1.5rem;
  text-align: left; }
  #mySidenav a:hover:not(.closebtn) {
    color: #FFD100;
    transform: scale(1.1);
    margin-left: 10px; }
#mySidenav ul {
  list-style-type: none; }

.closebtn:hover {
  color: #6322A2; }

/*--------- Header --------*/
.header__container {
  position: relative;
  top: 0;
  height: 500px;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .header__container {
      height: 400px; } }
  @media screen and (max-width: 767px) {
    .header__container {
      height: 300px; } }

.mp {
  background: #C0C31B; }

.party {
  background: #6322A2; }

.compare {
  background: #169684; }

.pagetitle {
  margin-top: 10px;
  font-size: 7rem;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px);
  padding-top: 10px;
  color: white; }
  @media screen and (max-width: 1024px) {
    .pagetitle {
      font-size: 5rem; } }
  @media screen and (max-width: 767px) {
    .pagetitle {
      font-size: 4rem; } }

.page-desc {
  color: white;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px);
  font-size: 1.2rem; }
  @media screen and (max-width: 767px) {
    .page-desc {
      font-size: 0.9rem;
      width: 78%; } }

.logo__container {
  width: 120px;
  height: 80px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .logo__container img {
    height: 100%; }
  @media screen and (max-width: 767px) {
    .logo__container {
      height: 50px; } }

/* -------------FOOTER--------------*/
.footer__stopper {
  width: 100%; }
  .footer__stopper:after {
    content: "";
    display: table;
    clear: both; }

.footer__wrapper {
  width: calc(83.3333333333% - 36.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }

.footerContainer {
  width: 100%;
  background-color: #444444;
  height: auto;
  padding-bottom: 40px; }

.footerContainer__form {
  width: 40%;
  float: left;
  margin-top: 50px;
  background: white;
  margin-bottom: 30px;
  padding: 20px; }
  .footerContainer__form:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 1350px) {
    .footerContainer__form {
      width: 50%; } }
  @media screen and (max-width: 1024px) {
    .footerContainer__form {
      width: 60%; } }
  @media screen and (max-width: 767px) {
    .footerContainer__form {
      width: 100%; } }
  .footerContainer__form .footer__form__title {
    color: #111111;
    font-size: 3.5rem;
    font-size: 4vw;
    margin-top: 0; }
    @media screen and (max-width: 1024px) {
      .footerContainer__form .footer__form__title {
        font-size: 2.5rem; } }
    @media screen and (max-width: 340px) {
      .footerContainer__form .footer__form__title {
        font-size: 2rem; } }
  .footerContainer__form .footer__form__desc {
    font-size: 1rem;
    font-size: 1.2vw;
    margin-bottom: 40px; }
    @media screen and (max-width: 1024px) {
      .footerContainer__form .footer__form__desc {
        font-size: 1rem; } }
    @media screen and (max-width: 470px) {
      .footerContainer__form .footer__form__desc {
        margin-bottom: 20px;
        font-size: 0.8rem; } }
  .footerContainer__form .fotter__form__field {
    border-bottom: 2px solid #444444;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 380px) {
      .footerContainer__form .fotter__form__field {
        flex-direction: column;
        align-items: flex-start; } }
  .footerContainer__form label {
    width: 80px;
    font-size: 1.5rem;
    margin-right: 5px; }
    @media screen and (max-width: 470px) {
      .footerContainer__form label {
        font-size: 0.9rem;
        width: 30%; } }
  .footerContainer__form input {
    flex: auto;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6em; }
    @media screen and (max-width: 470px) {
      .footerContainer__form input {
        font-size: 1rem; } }
  .footerContainer__form input[type=text], .footerContainer__form input[type=email] {
    border: none; }
  .footerContainer__form .footer__forn__btn {
    padding: 8px 16px;
    border: 5px solid #FFD100;
    background: white;
    font-size: 1.3rem;
    transition: all 0.4s ease; }
    .footerContainer__form .footer__forn__btn:hover {
      background: #FFD100; }
    @media screen and (max-width: 767px) {
      .footerContainer__form .footer__forn__btn {
        font-size: 1rem;
        padding: 5px 10px;
        border: 3px solid #FFD100; } }

.footerContainer__contact {
  width: 20%;
  float: left;
  margin-left: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 1350px) {
    .footerContainer__contact {
      width: 30%; } }
  @media screen and (max-width: 1024px) {
    .footerContainer__contact {
      width: 35%;
      float: right; } }
  @media screen and (max-width: 767px) {
    .footerContainer__contact {
      width: 100%;
      margin-top: 20px; } }
  .footerContainer__contact .contact__eachWrap {
    width: 100%;
    padding: 15px;
    padding-bottom: 20px;
    background: white;
    margin-bottom: 20px; }
    @media screen and (max-width: 767px) {
      .footerContainer__contact .contact__eachWrap {
        width: 100%; } }
  .footerContainer__contact .contact__title {
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
    color: #111111;
    margin-bottom: 8px; }
  .footerContainer__contact .contact__info {
    color: #444444;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 1px solid #444444;
    transition: all 0.4s ease; }
    .footerContainer__contact .contact__info:hover {
      color: #FFD100;
      border-bottom: 1px solid #FFD100; }
  .footerContainer__contact .contact__info__address {
    font-size: 0.9rem; }

.footerContainer__nav {
  float: right;
  margin-top: 50px; }
  @media screen and (max-width: 1350px) {
    .footerContainer__nav {
      width: 100%; } }
  .footerContainer__nav .footerNav__list {
    margin-left: 10px;
    font-family: "Roboto Slab", serif;
    color: white;
    text-decoration: none;
    font-size: 1rem; }
    .footerContainer__nav .footerNav__list:hover {
      color: #FFD100; }
    @media screen and (max-width: 1350px) {
      .footerContainer__nav .footerNav__list {
        font-size: 1.2rem;
        margin-left: 0;
        margin-right: 15px; } }
    @media screen and (max-width: 630px) {
      .footerContainer__nav .footerNav__list {
        width: 100%;
        font-size: 1rem;
        margin-right: 10px; } }
    @media screen and (max-width: 630px) {
      .footerContainer__nav .footerNav__list {
        display: block;
        margin-bottom: 10px; } }

.copyRight-wrapper {
  width: 100vw;
  text-align: left;
  font-size: 0.8rem;
  color: white; }
  .copyRight-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .copyRight-wrapper .copyRight {
    width: calc(83.3333333333% - 36.6666666667px);
    float: left;
    margin-left: 20px;
    margin-left: calc(8.3333333333% - 21.6666666667px + 40px);
    padding-bottom: 20px; }

.mpMap__provNav__mobile {
  display: none;
  position: relative;
  width: 100%;
  height: 20px; }
  @media screen and (max-width: 767px) {
    .mpMap__provNav__mobile {
      display: block; }
      .mpMap__provNav__mobile #mpMap__provNav__select {
        position: absolute;
        top: -70px;
        left: 50%;
        margin-left: -120px;
        background: white;
        width: 240px;
        height: 40px;
        padding-left: 10px;
        background-image: url("../img/down-icon.svg");
        background-size: 8%;
        background-repeat: no-repeat;
        background-position: 95% center;
        padding-right: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
        .mpMap__provNav__mobile #mpMap__provNav__select:after {
          content: "";
          width: 20px;
          height: 20px; } }

.mpMap__container {
  position: relative;
  padding-bottom: 100px;
  width: calc(83.3333333333% - 36.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px);
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1024px) {
    .mpMap__container {
      padding-bottom: 20px; } }
  @media screen and (max-width: 767px) {
    .mpMap__container {
      display: none; } }
  .mpMap__container .mpMap__provNav {
    width: 20%;
    background: white;
    position: relative;
    top: -120px;
    height: auto;
    z-index: 10; }
    @media screen and (max-width: 1024px) {
      .mpMap__container .mpMap__provNav {
        width: 30%;
        top: -80px; } }
    .mpMap__container .mpMap__provNav .mpMap__provNav__list {
      list-style-type: none;
      padding: 8px 0 8px 10px;
      font-size: 1rem;
      font-size: 1vw;
      z-index: 200;
      color: #444444;
      border: 1px solid #ccc;
      margin-top: -1px; }
      @media screen and (max-width: 1024px) {
        .mpMap__container .mpMap__provNav .mpMap__provNav__list {
          font-size: 1rem; } }
  .mpMap__container .mpMap {
    margin-top: -100px;
    width: 75%; }
    @media screen and (max-width: 1024px) {
      .mpMap__container .mpMap {
        width: 65%; } }
  .mpMap__container .mpMap__islands__container {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 15%;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mpMap__container .mpMap__islands__container:hover {
      opacity: 1; }
    .mpMap__container .mpMap__islands__container .mpMap__islands {
      width: 100%;
      height: auto; }

.mpList__container {
  width: calc(83.3333333333% - 36.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 200px; }
  @media screen and (max-width: 767px) {
    .mpList__container {
      flex-wrap: wrap;
      margin-bottom: 50px; } }
  .mpList__container .mpList__party {
    width: 20%;
    padding-bottom: 5px;
    min-height: 260px; }
    @media screen and (max-width: 1024px) {
      .mpList__container .mpList__party {
        width: 23%;
        min-height: 200px; } }
    @media screen and (max-width: 767px) {
      .mpList__container .mpList__party {
        width: 48%;
        min-height: 200px;
        margin-bottom: 30px; } }
    .mpList__container .mpList__party .mpList__head {
      font-family: "Roboto Slab", serif;
      font-size: 1.8rem;
      font-size: 1.7vw;
      margin: 20px 0 15px 20px; }
      @media screen and (max-width: 1024px) {
        .mpList__container .mpList__party .mpList__head {
          font-size: 2rem;
          font-size: 2vw;
          margin: 10px 0 10px 10px; } }
      @media screen and (max-width: 767px) {
        .mpList__container .mpList__party .mpList__head {
          font-size: 0.9rem; } }

.mpList__list {
  list-style-type: none;
  margin-left: 20px; }
  @media screen and (max-width: 1024px) {
    .mpList__list {
      margin-left: 10px; } }

.mpList__name {
  padding: 5px 0;
  font-size: 1.1rem;
  color: #444444; }
  @media screen and (max-width: 1024px) {
    .mpList__name {
      font-size: 0.8rem; } }
  @media screen and (max-width: 767px) {
    .mpList__name {
      font-size: 0.7rem; } }

.mpList__party.liberal {
  border: 2px solid #D71920;
  height: auto; }
  .mpList__party.liberal .mpList__head {
    color: #D71920; }

.mpList__party.ndp {
  border: 2px solid #F37021;
  height: auto; }
  .mpList__party.ndp .mpList__head {
    color: #F37021; }

.mpList__party.conservative {
  border: 2px solid #1A4782;
  height: auto; }
  .mpList__party.conservative .mpList__head {
    color: #1A4782; }

.mpList__party.green {
  border: 2px solid #3D9B35;
  pointer-events: none; }
  .mpList__party.green .mpList__head {
    color: #3D9B35; }

.independent {
  border: 2px solid black;
  pointer-events: none;
  display: none; }
  .independent .mpList__head {
    color: black; }

.mpList__last {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-right: 20px; }
  .mpList__last img {
    height: 80%; }
    @media screen and (max-width: 1024px) {
      .mpList__last img {
        height: 60%; } }

.popup {
  display: none;
  position: absolute;
  background-color: #818232;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 1.2rem; }

.map__smallText__popup {
  font-size: 0.8rem; }

.svg__porv {
  fill: #444444;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px; }

.svg__porv__hover {
  fill: #C0C31B;
  cursor: pointer; }

body {
  overflow-x: hidden; }

.pageHeader {
  height: 50vh;
  background: #6322A2; }

.pageHeader__text {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }

.partyPageContainer {
  width: 95%; }

.partyContainer {
  width: calc(91.6666666667% - 38.3333333333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }

.partyWrapper:after {
  content: "";
  display: table;
  clear: both; }

.partyContainer__item {
  display: inline-block;
  position: relative;
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
  transform: translateY(-100px);
  transition: all .5s ease; }
  .partyContainer__item .partyContainer__img {
    width: 100%;
    transition: all .5s ease; }
  .partyContainer__item h2 {
    font-size: 2rem; }
  .partyContainer__item .partyContainer__img--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: all .5s ease; }
    .partyContainer__item .partyContainer__img--overlay h2 {
      color: white;
      z-index: 3;
      opacity: 1; }

.partyInfo:after, .partyInfo__policies:after, .partyInfo__history:after {
  content: "";
  display: table;
  clear: both; }
.partyInfo h2, .partyInfo__policies h2, .partyInfo__history h2 {
  margin: 8rem 0; }

.policyItem {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px; }

#red--overlay, #orange--overlay, #green--overlay, #blue--overlay, .overlay--opacity {
  opacity: 0.7; }

#red--overlay {
  background: #D71920; }

#orange--overlay {
  background: #F37021; }

#green--overlay {
  background: #3D9B35; }

#blue--overlay {
  background: #1A4782; }

.partyInfo:after {
  content: "";
  display: table;
  clear: both; }

.borderedItem {
  border: 2px solid red; }

/*-----PARTY LOGO ---------*/
.partyInfo__logo {
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .partyInfo__logo img {
    width: 30%; }

/*-----MAIN MEMBERS -------*/
.partyInfo__memberContainer {
  width: calc(58.3333333333% - 31.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .partyInfo__memberContainer h2 {
    margin-left: 1.5%; }

.partyInfo, .partyInfo__history, .partyInfo__policies {
  display: none; }

.partyInfo__member {
  padding: 25px 0;
  width: calc(41.6666666667% - 28.3333333333px);
  float: left;
  margin-left: 20px;
  margin: 2rem 2rem 0.7rem 0;
  height: 240px; }
  .partyInfo__member img {
    width: calc(33.3333333333% - 26.6666666667px);
    float: left;
    margin-left: 20px; }
  .partyInfo__member h4 {
    font-size: 1.5rem; }
  .partyInfo__member p {
    font-size: 1rem; }

.member__name {
  width: calc(75% - 35px);
  float: left;
  margin-left: 20px; }

.partyInfo__seatContainer {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }
  .partyInfo__seatContainer:after {
    content: "";
    display: table;
    clear: both; }

.seatContainer__title {
  position: relative; }
  .seatContainer__title h3, .seatContainer__title p {
    display: inline-block;
    margin: 2.4rem 0 1.2rem 0; }
  .seatContainer__title h3 {
    font-size: 1.8rem; }
  .seatContainer__title p {
    position: absolute;
    right: 0; }

.seatContainer__bar {
  width: 100%;
  height: 60px;
  border: 2px solid purple;
  background: none; }

.senate__seats {
  width: 20%;
  height: 100%;
  background: purple; }

.hoc__seats {
  width: 50%;
  height: 100%;
  background: purple; }

/*-----POLICY SECTION --------*/
.partyInfo__policies {
  width: calc(83.3333333333% - 36.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }

.partyInfo__policy {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  height: 450px;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 2.5rem;
  padding: 60px; }
  .partyInfo__policy:after {
    content: "";
    display: table;
    clear: both; }
  .partyInfo__policy h3 {
    font-size: 2rem;
    margin: 10px 0;
    align-self: center; }
  .partyInfo__policy p {
    font-size: 1.4rem; }

/*----HISTORY SECTION -------*/
.partyInfo__history {
  width: calc(83.3333333333% - 36.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px); }
  .partyInfo__history p {
    padding: 50px;
    font-size: 1.4rem; }

.partyInfo, .partyInfo__policies, .partyInfo__history {
  margin-bottom: 2.5rem; }

/*------------MEDIA QUERIES ----------*/
@media screen and (max-width: 600px) {
  .pageHeader h1 {
    font-size: 2.5rem; }
  .pageHeader p {
    font-size: 1.5rem; }

  .partyInfo {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }

  .partyInfo h2, .partyInfo__policies h2 {
    font-size: 2.5rem; }

  .partyInfo__policies p {
    font-size: 1.4rem; }

  .partyContainer__img--overlay h2 {
    font-size: 1.4rem; } }
@media screen and (max-width: 1100px) {
  .partyPageContainer {
    width: 100%; }

  .partyContainer {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }

  .partyContainer__item {
    width: calc(25% - 25px);
    float: left;
    margin-left: 20px; }

  .pageHeader h1 {
    font-size: 5rem; }

  .partyContainer__item {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    margin-left: 0; }

  .partyContainer__img--overlay h2 {
    font-size: 1.4rem; }

  .partyInfo h2, .partyInfo__policies h2, .partyInfo__history h2 {
    font-size: 4rem;
    margin-bottom: 1.75rem; }

  .partyInfo__memberContainer, .partyInfo__seatContainer, .partyInfo__policies, .partyInfo__history {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
    .partyInfo__memberContainer h3, .partyInfo__memberContainer h4, .partyInfo__seatContainer h3, .partyInfo__seatContainer h4, .partyInfo__policies h3, .partyInfo__policies h4, .partyInfo__history h3, .partyInfo__history h4 {
      font-size: 1.9rem;
      margin-top: 1.75rem; }

  .partyInfo__member {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    margin: 5px;
    height: 100%; }

  .partyInfo__policy {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }

  .partyInfo__history p, .partyInfo__policy p {
    font-size: 1.2rem;
    line-height: 30px; } }
@media screen and (min-width: 768px) {
  .partyInfo__history {
    font-size: 2rem; } }
@media screen and (min-width: 1200px) {
  .partyInfo__leaderContainer {
    width: calc(58.3333333333% - 31.6666666667px);
    float: left;
    margin-left: 20px;
    margin-left: calc(8.3333333333% - 21.6666666667px + 40px); } }
.party__label {
  display: inline-block;
  padding-left: 50px;
  height: 50px; }

.compare__filter {
  width: 40%;
  margin: auto; }

.compare__policies {
  width: calc(83.3333333333% - 36.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.3333333333% - 21.6666666667px + 40px);
  background: white;
  margin-bottom: 8rem; }
  .compare__policies h2 {
    font-size: 3rem;
    margin: 8rem 0 2.5rem 1rem; }

.showMore {
  height: 10%; }

.policy__item {
  padding: 0 20px 20px 20px;
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
  border: 1px solid black;
  min-height: 300px; }
  .policy__item h3 {
    margin: 1.75rem 0; }
  .policy__item p {
    font-size: 0.9rem; }

.policy__item--green h3 {
  color: #3D9B35; }

.policy__item--orange h3 {
  color: #F37021; }

.policy__item--red h3 {
  color: #D71920; }

.policy__item--blue h3 {
  color: #1A4782; }

.compare__policies--marijuana, .compare__policies--youth, .compare__policies--firstnations, .compare__policies--housing, .compare__policies--environment, .compare__policies--privacy, .compare__policies--veteran, .compare__policies--veteran {
  display: flex; }
  .compare__policies--marijuana:after, .compare__policies--youth:after, .compare__policies--firstnations:after, .compare__policies--housing:after, .compare__policies--environment:after, .compare__policies--privacy:after, .compare__policies--veteran:after, .compare__policies--veteran:after {
    content: "";
    display: table;
    clear: both; }

/*===============================================================
                        MEDIA QUERIES 
=================================================================*/
@media screen and (max-width: 600px) {
  .policy__item--blue, .policy__item--green, .policy__item--orange, .policy__item--red {
    width: calc(91.6666666667% - 38.3333333333px);
    float: left;
    margin-left: 20px; } }
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .policy__item--blue, .policy__item--green, .policy__item--orange, .policy__item--red {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; } }

/*# sourceMappingURL=main.css.map */
