.party__input {
    // display:none;

}

.party__label {
    display:inline-block;
    padding-left:50px;
    height:50px;
}

.compare__filter {
    width:40%;
    margin:auto;
}




// $imageList: "liberal", "green", "conservative", "ndp"; 

// @each $item in $imageList {

// }

// // #red {
// //     background:url('../img/liberal.png');
// //     background-size:contain;
// //     background:no-repeat;
// // }

// // #blue {
// //     background:url('')
// // }