.party__input {
    // display:none;

}

.party__label {
    display:inline-block;
    padding-left:50px;
    height:50px;
}

.compare__filter {
    width:40%;
    margin:auto;
}

.compare__policies {
    @include grid-column(10);
    @include grid-push(1);
    background:white; 
    margin-bottom: $sectionSpacing; 
    h2 {
        font-size:3rem;
        margin: $sectionSpacing 0 $articleSpacing 1rem; 
        
    }

}

.showMore{
    height:10%;
}

.policy__item {
    h3 {
        margin:$articleSpacingMobile 0; 
    }
    p {
        font-size:0.9rem;
    }

      //make these show only certain info but open to show more.
      padding:0 20px 20px 20px; 
      @include grid-column(3);
      border:1px solid black; 
      min-height:300px; 
}
// .policy__item--green, .policy__item--orange, .policy__item--red, .policy__item--blue {
//     h3 {
//         margin:$articleSpacingMobile 0; 
//     }

    
//     //make these show only certain info but open to show more.
//     padding:0 20px 20px 20px; 
//     @include grid-column(3);
//     border:1px solid black; 
//     height:300px; 
// }

.policy__item--green{
    h3 {
        color:$green; 
    }
}
.policy__item--orange{
    h3 {
        color:$orange; 
    }
}
.policy__item--red{
    h3 {
        color:$red; 
    }
}
.policy__item--blue{
    h3 {
        color:$blue; 
    }

// --------------- policies ---------------------
.party__input {
    // display:none;

}

.party__label {
    display:inline-block;
    padding-left:50px;
    height:50px;
}

.compare__filter {
    width:40%;
    margin:auto;
}

.compare__policies {
    @include grid-column(10);
    @include grid-push(1);
    background:white;
    margin-bottom: $sectionSpacing;
    h2 {
        font-size:3rem;
        margin: $sectionSpacing 0 $articleSpacing 1rem;

    }

}

.showMore{
    height:10%;
}

.policy__item {
    h3 {
        margin:$articleSpacingMobile 0;
    }
    p {
        font-size:0.9rem;
    }

      //make these show only certain info but open to show more.
      padding:0 20px 20px 20px;
      @include grid-column(3);
      border:1px solid black;
      height:300px;
}
// .policy__item--green, .policy__item--orange, .policy__item--red, .policy__item--blue {
//     h3 {
//         margin:$articleSpacingMobile 0;
//     }


//     //make these show only certain info but open to show more.
//     padding:0 20px 20px 20px;
//     @include grid-column(3);
//     border:1px solid black;
//     height:300px;
// }

.policy__item--green{
    h3 {
        color:$green;
    }
}
.policy__item--orange{
    h3 {
        color:$orange;
    }
}
.policy__item--red{
    h3 {
        color:$red;
    }
}
.policy__item--blue{
    h3 {
        color:$blue;
    }

}

.compare__policies--marijuana, .compare__policies--youth, .compare__policies--firstnations, .compare__policies--housing, .compare__policies--environment, .compare__policies--privacy, .compare__policies--veteran, .compare__policies--veteran {
    @include clearfix;

}


/*===============================================================
                        MEDIA QUERIES
=================================================================*/
@media screen and (max-width:600px) {
    .policy__item--blue, .policy__item--green, .policy__item--orange, .policy__item--red {
        @include grid-column(11);
    }
}

@media screen and (min-width:601px) and (max-width:1000px) {
   .policy__item--blue, .policy__item--green, .policy__item--orange, .policy__item--red {
        @include grid-column(6);
   }

}

}

.compare__policies--marijuana, .compare__policies--youth, .compare__policies--firstnations, .compare__policies--housing, .compare__policies--environment, .compare__policies--privacy, .compare__policies--veteran, .compare__policies--veteran {
    @include clearfix; 
    display:flex; 
   
}



@media screen and (min-width:601px) and (max-width:1000px) {}
