.home {
  height: 100px;
}
.home-page {
  color: white;
}
.landing {
  height: 100vh;
}
//////////////
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 100%; }
}
@media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
}

/////////////
.sect-one {
  background-color: $turquoise;
}
.sect-two {
  background-color: $purple;
}
.sect-three {
  background-color: $yellow;
}

.btn {
  padding: 8px 16px;
  border: 5px solid $cta-color;
  background: transparent;
  font-size: 1.3rem;
  transition: all 0.4s ease;
  margin-bottom: 375px;
  &:hover {
    background: $cta-color;
  }
}

