.home {
  height: 100px;
}
.home-page {
  color: white;
}
.landing {
  height: 100vh;
  display: flex;
  flex-flow:column; 
}
#iframe {
  background-color: $turquoise;
}
.index-h1 {
  text-align: center;
  padding-top: 150px;
}
.comp-btn {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border: 5px solid $cta-color;
  background: $cta-color;
  font-size: 1.3rem;
  transition: all 0.4s ease;
  &:hover {
    background-color: transparent;
  }
}
.btn-div {
  display: inline-block;
  margin: 0 auto;
}
//////////////
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 100%; }
}
@media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
}
/////////////
.sect-one {
  background-color: $turquoise;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sect-two {
  background-color: $purple;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sect-three {
  background-color: $yellow;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.h2 {
  text-transform: uppercase;
}
@media screen and (max-width: 1150px) {
  .index-h1 {
     font-size: 3rem;
   }
}
.p {
  width: 60%;
}
.mid-article {
  margin-left: 150px;
}
.img {
  width: 25%;
  margin: 25px 10%;
}
.float-left {
  justify-content: left;
}
.margin-top {
  margin-top: 50px;
}
.btn {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border: 5px solid $cta-color;
  background: transparent;
  font-size: 1.3rem;
  transition: all 0.4s ease;
  margin: 100px 0 375px 0;
  &:hover {
    background: $cta-color;
  }
}


