

// ============================
//          Map
// ============================
.mpMap__provNav__mobile{
  display: none;
  position: relative;
  width: 100%;
  height: 20px;

  @media screen and (max-width: $phone){
    display: block;
    #mpMap__provNav__select{
      position: absolute;
      top: -70px;
      left: 50%;
      margin-left: -120px;
      background: white;
      width: 240px;
      height: 40px;
      padding-left: 10px;
      background-image: url("../img/down-icon.svg");
      background-size: 8%;
      background-repeat: no-repeat;
      background-position: 95% center;
      padding-right: 10px;
      &:after{
        content: "";
        width: 20px;
        height: 20px;

      }
    }
  }
}
.mpMap__container{
  position: relative;
  padding-bottom: 100px;
  @include grid-column(10);
  @include grid-push(1);

  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $tablet){
    padding-bottom: 20px;
  }
  @media screen and (max-width: $phone){
    display: none;
  }

  .mpMap__provNav{
    width: 20%;
    background: white;
    position: relative;
    top: -120px;
    height: auto;
    z-index: 10;
    @media screen and (max-width: $tablet){
      width: 30%;
      top: -80px;
    }

    .mpMap__provNav__list {
      list-style-type: none;
      padding: 8px 0 8px 10px;
      font-size: 1rem;
      font-size: 1vw;
      z-index: 200;
      color: $text-black;
      border: 1px solid #ccc;
      margin-top: -1px;
      @media screen and (max-width: $tablet){
        font-size: 1rem;
      }
    }
  }
  .mpMap {
    margin-top: -100px;
    width: 75%;
    @media screen and (max-width: $tablet){
      width: 65%;
    }
  }

  .mpMap__islands__container {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 15%;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }
    .mpMap__islands{
      width: 100%;
      height: auto;
    }
  }
}

// ============================
//           Lists
// ============================
.mpList__container{
  @include grid-column(10);
  @include grid-push(1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 200px;
  @media screen and (max-width: $phone){
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .mpList__party{
    width: 20%;
    padding-bottom: 5px;
    min-height: 260px;
    @media screen and (max-width: $tablet){
      width: 23%;
      min-height: 200px;
    }
    @media screen and (max-width: $phone){
      width: 48%;
      min-height: 200px;
      margin-bottom: 30px;
    }
    .mpList__head {
      font-family: $heading;
      font-size: 1.8rem;
      font-size: 1.7vw;
      margin: 20px 0 15px 20px;
      @media screen and (max-width: $tablet){
        font-size: 2rem;
        font-size: 2vw;
        margin: 10px 0 10px 10px;
      }
      @media screen and (max-width: $phone){
        font-size: 0.9rem;
      }
    }
  }
}

.mpList__list {
  list-style-type: none;
  margin-left: 20px;
  @media screen and (max-width: $tablet){
    margin-left: 10px;
  }
}


.mpList__name{
  padding: 5px 0;
  font-size: 1.1rem;
  color: $text-black;
  @media screen and (max-width: $tablet){
    font-size: 0.8rem;
  }
  @media screen and (max-width: $phone) {
    font-size: 0.7rem;
  }
}

// liberal
.mpList__party.liberal {
  border: 2px solid $red;
  height: auto;
  .mpList__head{
    color: $red;
  }
}

// ndp
.mpList__party.ndp {
  border: 2px solid $orange;
  height: auto;
  .mpList__head{
    color: $orange;
  }
}

// conservative
.mpList__party.conservative {
  border: 2px solid $blue;
  height: auto;
  .mpList__head{
    color: $blue;
  }
}

// green
.mpList__party.green {
  border: 2px solid $green;
  pointer-events: none;
  .mpList__head{
    color: $green;
  }
}

//continue icon
.mpList__last {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-right: 20px;

  img{
    height: 80%;
    @media screen and (max-width: $tablet){
      height: 60%;
    }
  }
}

.popup {
	display:none;
	position:absolute;
  border: 1px solid #ccc;
	background-color:$yellow;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size: 1.2rem;
}
.map__smallText__popup {
  font-size: 0.8rem;
}
.svg__porv{
  fill:$text-black;
  stroke:#fff;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:2px;
}
.svg__porv__hover{
  fill: $yellow;
  cursor: pointer;
}
