.mpMap__provNav{
  @include grid-column(2);
  @include grid-push(1);
  background: white;
  margin-top: -120px;
  height: auto;
  border: 5px solid $yellow;

  .mpMap__provNav__list {
    list-style-type: none;
    padding: 8px 0 8px 10px;
    font-size: 1rem;
    font-size: 1vw;
  }
}

.mpMap__container{
  position: relative;
  @include clearfix;
  padding-bottom: 100px;
  .mpMap {
    margin-top: -100px;
    @include grid-column(7);
    @include grid-push(1);
  }

  .mpMap__islands__container {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 15%;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }
    .mpMap__islands{
      width: 100%;
      height: auto;
    }
  }
}

.mpList__container{
  min-height: 300px;
  @include grid-column(10);
  @include grid-push(1);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 200px;
  .mpList__party{
    width: 20%;
    min-height: 350px;
    padding-bottom: 20px;
    .mpList__head {
      font-family: $heading;
      font-size: 1.8rem;
      margin: 20px 0 15px 20px;
    }
  }
}
.mpList__list {
  list-style-type: none;
  margin-left: 20px;
}
.mpList__name{
  padding: 5px 0;
  font-size: 1.1rem;
}

// leberal
.mpList__party.leberal {
  border: 2px solid $red;
  .mpList__head{
    color: $red;
  }
}



// ndp
.mpList__party.ndp {
  border: 2px solid $orange;
  .mpList__head{
    color: $orange;
  }
}

// conservative
.mpList__party.conservative {
  border: 2px solid $blue;
  .mpList__head{
    color: $blue;
  }
}


// green
.mpList__party.green {
  border: 2px solid $green;
  .mpList__head{
    color: $green;
  }
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size: 1.2rem;
}
.map__smallText__popup {
  font-size: 0.8rem;
}
