
// ============================
//          Map
// ============================
.mpMap__container{
  position: relative;
  padding-bottom: 100px;
  @include grid-column(10);
  @include grid-push(1);

  display: flex;
  justify-content: space-between;

  .mpMap__provNav{
    width: 20%;
    background: white;
    position: relative;
    top: -120px;
    height: auto;
    border: 5px solid $yellow;
    z-index: 10;

    .mpMap__provNav__list {
      list-style-type: none;
      padding: 8px 0 8px 10px;
      font-size: 1rem;
      font-size: 1vw;
      z-index: 200;
      color: $text-black;
    }
  }
  .mpMap {
    margin-top: -100px;
    width: 75%;
  }

  .mpMap__islands__container {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 15%;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    background: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }
    .mpMap__islands{
      width: 100%;
      height: auto;
    }
  }
}

// ============================
//           Lists
// ============================
.mpList__container{
  min-height: 260px;
  @include grid-column(10);
  @include grid-push(1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 200px;

  .mpList__party{
    width: 20%;
    padding-bottom: 5px;

    .mpList__head {
      font-family: $heading;
      font-size: 1.8rem;
      font-size: 1.7vw;
      margin: 20px 0 15px 20px;
    }
  }
}

.mpList__list {
  list-style-type: none;
  margin-left: 20px;
}

.mpList__name{
  padding: 5px 0;
  font-size: 1.1rem;
  color: $text-black;
}

// liberal
.mpList__party.liberal {
  border: 2px solid $red;
  height: auto;
  .mpList__head{
    color: $red;
  }
}

// ndp
.mpList__party.ndp {
  border: 2px solid $orange;
  height: auto;
  .mpList__head{
    color: $orange;
  }
}

// conservative
.mpList__party.conservative {
  border: 2px solid $blue;
  height: auto;
  .mpList__head{
    color: $blue;
  }
}

// green
.mpList__party.green {
  border: 2px solid $green;
  height: auto;
  .mpList__head{
    color: $green;
  }
}

//continue icon
.mpList__last {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-right: 20px;
  
  img{
    height: 80%
  }
}

.popup {
	display:none;
	position:absolute;
	background-color:$yellow;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size: 1.2rem;
}
.map__smallText__popup {
  font-size: 0.8rem;
}
.svg__porv{
  fill:$text-black;
  stroke:#fff;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:2px;
}
.svg__porv__hover{
  fill: $yellow;
  cursor: pointer;
}
