
body {
    @include grid-visual; 
}

.pageHeader {
    height:40vh; 
    background:$purple;
    @extend .white; 
}
.pageHeader__text {
    @include grid-column(8);
    @include grid-push(1.35);
}


.partyPageContainer {
    width:95%;
}
.partyContainer {
    @include grid-column(10);
    @include grid-push(1.35);
}

.partyWrapper {
    @include clearfix; 
}

.partyContainer__item {
    display:inline-block; 
    position:relative;
    @include grid-column(3);
    transform:translateY(-150px);

    .partyContainer__img {
        width:100%;
    }

    h2 {
        font-size:2rem;
    }
}
.partyContainer__img--overlay {
    position: absolute;
    @extend .container--centered;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;   
    transition: .5s ease;

    h2 {
        color:white;
        @extend .uppercase; 
        z-index:3;
        opacity:1;

    }
}  

#red--overlay, #orange--overlay, #green--overlay, #blue--overlay, .overlay--opacity {
    opacity:0.7;
}
#red--overlay {
    background: $red;    
}
#orange--overlay {
    background:$orange;
}
#green--overlay {
    background:$green;
}
#blue--overlay {
    background:$blue; 
}

.partyInfo {
    @include clearfix; 
}

.partyInfo__memberContainer {
    @include grid-column(7);
    @include grid-push(1.35);

    h2 {
        margin-left:1.5%;
    }
}

.partyInfo__member {
    border: 2px solid black; 
    padding:20px 20px; 
    @include grid-column(5);
    img {
        width:30%; 
    }
    h3 {
        font-size:2rem;
    }

}

.memberInfo {
    display:inline-block;
    float:right;
}

.member__title {
    @extend .italic; 
}

































.policyItem {


    @include grid-column(3);
    @include grid-push(1);

}

.partyInfo__leaderContainer {

    @include grid-column(7);
    @include grid-push(1); 
}


