
body {
    @include grid-visual; 
}

.pageHeader {
    height:40vh; 
    background:$purple;
    @extend .white; 
}

.pageHeader__text {
    @include grid-column(8);
    @include grid-push(1.35);
}
.partyPageContainer {
    width:95%;
}

.partyContainer {
    @include grid-column(10);
    @include grid-push(1.3);
}

.partyWrapper {
    @include clearfix; 
}

.partyContainer__item {
    display:inline-block; 
    position:relative;
    @include grid-column(3);
    transform:translateY(-150px);

    .partyContainer__img {
        width:100%;
    }
}
.partyContainer__img--overlay {
    position: absolute;
    @extend .container--centered;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;   
    transition: .5s ease;

    h2 {
        color:white;
        @extend .uppercase; 
        z-index:3;
        opacity:1;

    }
}  
.partyInfo {
    @include clearfix; 
}
.policyItem {
    @include grid-column(4);
}

#red, #orange, #green, #blue, .overlay--opacity {
    opacity:0.7;
}
#red {
    background: $red;    
}
#orange {
    background:$orange;
}
#green {
    background:$green;
}
#blue {
    background:$blue; 
}




// .partyInfo {

  
// }

  