
// .partyPageContainer {
//     width:100%;
// }

.partyContainer {
    @include grid-column(12);
    margin:auto; 
}
.partyContainer__item {
    display:inline-block; 
    position:relative;
    @include grid-column(3);

    .partyContainer__img {
        width:100%;

    }
}
.partyContainer__img--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;    transition: .5s ease;
}
        
#red {
    background:red;
}
#orange {
    background:orange;
}
#green {
    background:green;
}
#blue {
    background:blue; 
}




// .partyInfo {

  
// }

  