* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

@mixin clearfix(){
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*------VARIABLES-------*/
/*-----COLOURS -----*/
$cta-color: #FFD100;
//PARTY COLOURS
$blue: #1A4782;
$red: #D71920;
$green: #3D9B35;
$orange: #F37021;
//PAGE COLOURS
$purple: #6322A2;
$turquoise: #169684;
$yellow: #C0C31B;


/*-----TYPOGRAPHY -----*/
$heading: 'Roboto Slab', serif;
$body: 'Lato', sans-serif;

#main {
  width:95%;
  margin:auto;
}

h1, h2  {
  font-family:$heading;
}
h1 {
  font-size: 8rem;
  text-transform:uppercase;
}
h3, h4, h5, p {
  font-family:$body;
}
