* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

@mixin clearfix(){
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*------VARIABLES-------*/
/*-----COLOURS -----*/
$cta-color: #FFD100;
$head-black: #111111;
$text-black: #444444;
//PARTY COLOURS
$blue: #1A4782;
$red: #D71920;
$green: #3D9B35;
$orange: #F37021;
//PAGE COLOURS
$purple: #6322A2;
$turquoise: #169684;
$yellow: #C0C31B;


/*-----TYPOGRAPHY -----*/
$heading: 'Roboto Slab', serif;
$body: 'Lato', sans-serif;


/*-----SPACING -------*/

$sectionSpacing: 8rem;
$articleSpacing: 2.5rem; 

$sectionSpacingMobile: 5rem;
$articleSpacingMobile: 1.75rem; 
body {
  font-family:$body;
  font-size: 20px;
}
#main {
  margin:auto;
}

h1, h2  {
  font-family:$heading;
}
h1 {
  font-size: 7rem;
  text-transform:uppercase;
}
h2 {
  font-size: 5rem;
}
h3, h4, h5, p {
  font-family:$body;
}

/*--- COMMON CLASSES USED ----*/
.uppercase {
  text-transform:uppercase;
}

.container--centered {
  display: flex;
  align-items:center;
  justify-content:center;
}

.white {
  color:white; 
}

.italic {
  font-style:italic; 
}
